#menu {
  .footer-inner {
    // position: fixed;
    // bottom: 0;
    // width: 100%;
    // background: #fff;
    // border-top: 1.5px solid #B9B9B9;
    .plus img {
      width: 60px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
      border-radius: 50%;
      transform: translateY(-38%);
      z-index: 6565;
      background: #fff;
    }
  }
}

.nav-menu {

}
