.slink-card{
    // .collapsible-header{
    //     // display: flex;
    //     position: relative;
    //     height: 100%;
    //     width: 100%;
    // }
    // .header-desc{
    //     display: flex;
    //     padding: 20px 11px;
    //     border-bottom: 1px solid #7b7b98;
    //     padding-bottom: 15px;
    //     color: #000000;
    //     cursor: pointer;
    // }
    // .social-logo{
    //     display: flex;
    //     align-items: center;
    // }
    // input{
    //     width: 65%;
    //     padding: 3px 0;
    // }
    // .link{
    //     display: flex;
    //     justify-content: space-between;
    // }
    // .links-form{
    //     padding: 20px;
    // }
    // .social-logo{
    //     img{
    //         width: 72px;
    //         border-radius: 50%;
    //         height: 72px;
    //         margin: 0 10px;
    //     }
    // }
    // .site{
    //     padding: 7px 0 0px 10px;
    //     font-size: 18px;
    // }
    // p{
    //     padding: 0 35px 0 10px;
    // }
    // .header{.social-head{
    //     line-height: 70px;
    // }}
    // h4{
    //     display: inline-block;
    //     vertical-align: middle;
    // }
    // .header{
    //     padding: 16px;
    //     display: flex;
    //     border-bottom: 1px solid #7b7b98;
    //     .welcome{
    //         width: 70px;
    //         height: 70px;
    //         // border: 1px solid #757575;
    //         border-radius: 50%;
    //         padding: 14px 14px;
    //     }
    // }
    // #example-collapse-text{
    //     border-bottom: 1px solid #7b7b98;
    // }

    // .fun{
    //     margin: 40px 0 0;
    //     display: flex;
    // }
    // .act{
    //     width: -webkit-fill-available;
    //     display: flex;
    //     justify-content: flex-end;
    //     button{
    //         background: transparent;
    //         border: none;
    //     }
    // }
        
    // .share{
    //     // float: left;
    //     padding: 20px 20px 5px;
    //     .social-share{
    //         display: flex;
    //         justify-content: space-between;
    //         p{
    //             color: #000000;
    //         }
    //     }
    // }
    .css-1yn2e29-InputColor{
        height: 28px;
        border: 1px solid #908989;
    }
    .color-input{
        display: inline-block;
        margin-left: 10px;
    }
} 